<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fatec
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="6">
      <ion-segment value="ads" [scrollable]="true" (ionChange)="trocarCurso($event)">
        <ion-segment-button value="ads">
          <ion-label>Analise de Desenvolvimento de Sistemas</ion-label>
        </ion-segment-button>
        <ion-segment-button value="ge">
          <ion-label>Gestão Empresarial</ion-label>
        </ion-segment-button>
        <ion-segment-button value="gti">
        <ion-label>Gestão de Tecnologia da Informação</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>
</ion-content>
